
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/JosefinSans-Light.ttf); }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: myFirstFont;
    ;
    color: #6D5D4B;
}
/*Start First Section Css*/
  .section-1{
   
    background-position: center;
     background-repeat: no-repeat;
            background-size: cover !important ;
        min-width: 100%;
         min-height:68vh;
        }
        .sec-1-b{
            background-color: rgb(16, 29, 44);
            min-height: 68vh;
            margin: 0;
            padding: 0px;
            min-width: 100%;
        }

.sec-1-A img{
position: relative;
left: 410px;
top: 10px;
}
.sec-1-A h3{
    padding-top:20px;

    color: #c69963;
    padding-left: 50px;
}
.sec-1-A h1{
    padding-top:10px;

    font-size:50px;
    color: #eee;
    padding-left: 80px;

}

 .header__btn{
background-color: #c69963;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 3rem;
    cursor: pointer;
    transition: all .3s;
margin: 70px 0px 0px 180px;
border: 3.5px solid #c69963;

}
.header__btn:hover{
    background-color:rgb(230, 228, 228);
    border: 3.5px solid #c69963;
    color: #c69963;
}
.sec-1-A h2{
    color: #eee;
    font-size: 25px;
    font-weight: lighter;
position: relative;}

.sec-1-A h2:before{
    color: #aaa;
content: "";
display: block;
width: 480px;
height: 1px;
position: absolute;
top: 15px;
left: 0;
background-color:#aaa ;

}

.sec-1-A h2:after{
    color: #aaa;
content: "";
display: block;
width: 480px;
height: 1px;
position: absolute;
top: 15px;
background-color:#aaa ;
right: 0;
}
.brand{
    padding-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    }
.brand img{
    margin-right: 50px;
justify-content: left;  
align-items: flex-start;  width: 92px;
    height: 30px;
    color:#aaa ;
    ;
}



.sec-1-b h3{
    color: #c69963;
    font-size: 25px;
    font-family: myFirstFont;
padding: 0px;
margin: 0px;
}
.col-lg-3 .col-md-6  .col-mdsm-12 .col-xs-12{
    padding-right: 0px !important;
}
hr{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 0.5px solid #c69963;
}
.sec-1-b img{
border-radius: 50%;
}
.sec-1-b h4{
    display: inline-block;
    font-size: 25px;
    color: #eee;
}
.sec-1-b p{
    margin: -20px 0px 20px 75px;
    color: #eee;
    font-size: 12px;
}
.realeted{
    padding-bottom: 40px;
}
span.sp1{
    color: #c69963;
}
/*End First Section Css*/

/*Start Secend Section Css*/
.section-2{
    padding-top: 130px;
    padding-bottom: 130px;

}
.box img{
    color: #c69963;

}
.box{
    margin: 5px;
}
.box h3{
    padding-top: 16px;
    padding-left: 2px;
    display: inline-block;
    font-size: 23px;
    font-weight: lighter;
}
.box p{
    margin: 20px 0px 20px 45px;
    font-size: 17px;
}


/*End Secend Section Css*/
/*Start Third Section Css*/


.flex{
    display: flex;
}
.flex .first-div{
flex: 1;
width: 100%;
height:85vh;
   
background-position: center;
background-repeat: no-repeat;
       background-size: cover !important ;
}
.flex .first-div img{
    margin-top: 110px;
    margin-left: 45px;
}
.first-div .img2{
    position: relative;
    bottom: 310px;
    left: 350px;
} 
.flex .secend-div{
    flex: 1;
    width: 100%;
    height: 85vh;
    background-color: #f9f7f6;
    padding-top: 190px;
    padding-left: 190px;

}
.flex .secend-div h3{
    color: #c69963;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 20px;
}
.flex .secend-div h1{
    color: #54483A;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: bolder;
}
.flex .secend-div p{
    color: #54483A;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
}

/*End Third Section Css*/

/*Start 4th Section Css*/
.section-4{
    padding-top: 140px;
    padding-bottom: 100px;

}
.hotel-room{
    margin-bottom: 40px;
    background-color: #f9f7f6;
    width: 325px;

}
.content{
    width: 250px;
    height: 50px;
    background-color: #101d2c;
    position: relative;
    bottom: 40px;
    left: 39px;
}
.content h3{
    color: #eee;
    font-weight:500;
    font-size: 19px;
padding-top: 14px;
padding-left: 25px;}
.hotel-room p{
    display: inline-block;
    padding-left: 29px;
    padding-bottom: 30px;

    font-size: 20px;
}
.one{
    margin-left: 10px;
    padding: 0px;
    margin: 0;
}
.f{
    display: flex;
}
.f p{
    flex: 1;
}
.nnn{
    width: 325px;
    height: 50px;
        background-color: #c69963;
            color: #fff;
            border: none;
            border-radius: 0;
            font-family: "Josefin Sans", sans-serif;
            font-size: 1.5rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .3s;
        border: 3.5px solid #c69963;
        
        
}
/*End 4th Section Css*/
/*Start 5th  Section Css*/

.top-grid{

grid-column: full-start / full-end;
background-color:#eee; 
display:grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(7, 5vw);
grid-gap: 1.5rem;
padding: 1.5rem;

}
  .img1 {
          grid-row: 1 / span 2;
          grid-column: 1 / span 2;
      }

.img2 {
          grid-row: 1 / span 3;
          grid-column: 3 / span 3;
      }

      .img3 {
          grid-row: 1 / span 2;
          grid-column: 6 / 7;
      }

      .img4 {
          grid-row: 1 / span 2;
          grid-column: 7 / -1;
      }

      .img5 {
          grid-row: 3 / span 3;
          grid-column: 1 / span 2;
      }

      .img6 {
          grid-row: 4 / span 2;
          grid-column: 3 / span 2;
      }

      .img7 {
          grid-row: 4 / 5;
          grid-column: 5 / 6;
      }

      .img8 {
          grid-row: 3 / span 2;
          grid-column: 6 / span 2;
      }

      .img9 {
          grid-row: 3 / span 3;
          grid-column: 8 / -1;
      }

      .img10 {
          grid-row: 6 / span 2;
          grid-column: 1 / 2;
      }

      .img11 {
          grid-row: 6 / span 2;
          grid-column: 2 / span 2;
      }

      .img12 {
          grid-row: 6 / span 2;
          grid-column: 4 / 5;
      }

      .img13 {
          grid-row: 5 / span 3;
          grid-column: 5 / span 3;
      }

      .img14 {
          grid-row: 6 / span 2;
          grid-column: 8 / -1;
      
  }

.top-grid img{
  width:100%;
  object-fit:cover;
  height:100%;
  display:block;
}

/*End 5th Section Css*/
/*Start Footer  Css*/
.footer{
    background-color: #101d2c;
    width: 100%;
    height: 60vh;
    padding: 0px;
}
.lastt{
    padding-top: 140px;
    width:250px;
    height: 90px;
}
.lastt h3 a{
    color: whitesmoke;
    font-size: 25px;
}
.lastt a:hover{
    color: white;
    text-decoration: none;
  font-size:20px;
  width: 150px;
    background-color: #c69963;
    cursor: pointer;
    transition: all .3s;
border: 3.5px solid #c69963;
}
.mm{
    padding-top: 180px;
    font-size: 20px;
    color: white;
    line-height: 30px;
}
/*End Footer  Css*/


